.window-frame {
  border: none;
}

.alert {
  margin: 5px 0;
}

.input-group-addon:first-child {
  border: 0;
}

.nav-tabs,
.panel {
  border: none;
}

.download-panel {
  border: none;
  overflow: hidden;
  border-radius: 4px;

  .panel-body {
    padding: 10px 5px;
  }

  .game-thumbnail-body {
    padding: 0;
  }
}

.download-drop-panel {
  overflow: hidden;
  border-radius: 4px;
}

#page-gamebryo-plugins .layout-flex {
  margin-bottom: 10px;
}

.nav > li > a:hover {
  background-color: #292929;
}

.nav-tabs > li {
    border: none;
    margin-top: 0;
    &.active {
      border:none;
      a {
         color:#eee;
         background-color: #383838;
         border: none;
         &:hover {
           color:#eee;
           background-color: #383838;
         }
         &:focus {
           color:#eee;
           background-color: #383838;
         }
     }
    }
    a {
        padding: 2px 16px;
        border: none;
        background-color: #292929;
        text-shadow: 2px 2px #202020;
        &:hover {
          background-color: #383838;
        }
        &:focus {
          background-color: #383838;
        }
    }
}

.nav-pills.nav-stacked>li{
  background: none;
  &.active {
    background: none;
    background-color: #292929;
    border: none;
    a,
    a:hover,
    a:focus {
        background: none;
        background-color: #383838;
        border: none;
    }
  }
}

.xtable > .xtbody > .xtr > .xtd {
    padding: 0.25rem 0.75rem;
}

.tab-pane > div {
  border: none;
}

#settings-tab .tab-pane > div {
  border: none;
  padding: 10px;
}

.mainpage-header {
    height: 40px !important;
    transition: height 250ms ease 500ms;
    padding: 8px;
    box-shadow: 0 0 6px 0 #000;
    .menubar {
      height: 100%;
    }
    .button-text {
        opacity: 0;
        transition: opacity 250ms ease;
    }
    &:hover {
        height:  80px !important;
        transition: height 250ms ease;
        .button-text {
            opacity: 1;
            transition: opacity 250ms ease 100ms;
        }
    }
}

#main-nav-sidebar {
  background-color: #202020;
  box-shadow: 0 0 6px 0 #000;
  &.sidebar-compact #main-nav-container {
      overflow: visible;
      z-index: 3;
  }
  #main-nav-container>:not(:last-child) {
    box-shadow: 0 1px 0 0 #383838;
  }
  .btn-menu-minimize {
      background-color: $brand-primary;
  }
}

.sidebar-compact {
   .nav-pills > li > a {
    overflow: visible;
  }
  .main-nav-group > li:hover a::after {
      content: attr(title);
      background-color: $brand-bg;
      margin-left: 8px;
      padding: 8px 8px;
      border: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      display: flex;
      align-items: center;
      border-left: 4px solid $brand-primary;
  }
}

.xtd.table-mods.cell-category {
    white-space: nowrap;
    max-width: 20em;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.toolbar-app-region .container-quicklaunch .tool-icon-container {
    width: 200px;
    height: 52px;
}

.container-quicklaunch .tool-icon-container {
    height: 52px;
}

.table-main-pane .btn-group>.btn,
.xtd .dropdown>.btn:first-child,
.xtd .dropup>.btn:first-child {
  border-left: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.xtd .dropdown > .btn-group {
  box-shadow: 0 0 6px 0 #000;
}
.xtd .dropdown>.dropdown-toggle,
.xtd .dropup>.dropdown-toggle {
  min-width: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.dropdown-menu {
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 #000;
}
#dropdown-mods-enabled,
#dropdown-extensions-enabled,
#dropdown-gamebryo-plugins-enabled {
  border-left: none;
  min-width: 20px;
}
.menu-layer {
  left: -60px;
}

#main-toolbar {
    border-bottom: none;
    box-shadow: 0 0 6px 0 #000;
    &.toolbar-app-region {
        height: unset;
        box-shadow: 0 0 6px 0 #000;
    }
    &.toolbar-app-region .main-toolbar-right {
        margin-bottom: auto;
        margin-right: 146px;
        border-right: $border-width solid $border-color;
    }
    .nexus-main-banner div {
        font-size: xx-small;
        &:first-child {
            font-size: 1.4em;
            margin-bottom: 0;
        }
        .right-center {
            font-size: inherit;
        }
    }
}

.lodpi .packery-height-1,
.hidpi .packery-height-1 {
    height: 80px;
}

.lodpi .packery-height-2,
.hidpi .packery-height-2 {
  height: 180px;
}

.dashlet {
  border: none;
  box-shadow: 0 0 2px 0 #000;
  position: relative;
  border-radius: 4px;
  padding: 10px 15px;

  .refresh-button,
  .issues-refresh {
    position: absolute;
    top: 11px;
    right: 52px;
  }
}

.fixed-dashlets {
  display:none;
}

#starter-dashlet {
  .media-body {

    .tool-icon-box {
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        margin: 2px;

        .tool-button {
          padding: 5px 10px;
          border-radius: 4px;

          .tool-icon-container {
            min-width: 60px;
          }

          .tool-icon-text .tool-icon-name {
            max-width: 70px;
          }

          .btn-group div {
            padding-left: 5px;
          }
        }

    }
  }

  .media-right {
    .refresh-button {
      position: absolute;
      top: 11px;
      right: 50px;
    }

    .btn-add-tool.btn-group {
      position: absolute;
      right: 10px;
      bottom: 10px;
      margin: 0;

      #add-tool-button {
        border-radius: 4px;
      }

    }
  }

}

.dashlet-recently-managed {
  .panel {
    .game-thumbnail-body {
      max-height: 100px;
      max-width: 200px;
      overflow: hidden;

      .name {
        min-height: 20px;
      }
    }
  }

  .list-recently-managed>*{
    border-radius: 4px;
    overflow: hidden;
  }
}

.game-list-selected {
  border: 1px solid $brand-primary;
}

.gamepicker-body {
  padding: 0;
}

.game-page {
  padding: 0;
}

.profile-list .profile-item {
  border: none;
  box-shadow: 0 0 2px 0 #000;
  &:hover {
    background-color: #383838;
  }
  &.active {
    outline: 1px solid $brand-primary;
    &:hover {
      background-color: #292929;
    }
  }
}

.modal-content {
  border: none;
  box-shadow: 0 0 4px 0 #000;
  border-radius: 4px;
}

.flex-fill {
  padding-left: 6px;
  margin-bottom: 4px;
}
.select-compact,
.modal-content {
  .Select-control {
    border: none;
    border-radius: 4px;
    padding: 2px 0;
    &:focus {
      border: none;
      box-shadow: 0 0 2px 0 #383838;
    }
  }
  .Select-menu-outer {
    border: none;
    border-radius: 4px;
    padding-bottom: 5px;
  }
}

.form-control {
  border: none;
  border-radius: 4px;
}
.form-field-compact {
  height: 24px;
}
.table-header-cell > div {
  padding: 0 !important;
}
.table-main-pane .xthead .xth,
.table-header-pane .xthead .xth {
    padding: 0 !important;
    margin: 0 2px;
    >div {
      margin: 0 5px 5px;
      max-width: 95%;
    }
}
.xtable>.xthead>.xtr {
  >.xth {
    border: none;
    margin-bottom: 2px;
  }
}

.xtable>.xtbody>.xtr>.xtd {
  padding: 0.25rem 0.5rem;
}

.notification {
  border-radius: 4px;
}

#notifications-popover {

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 #000;

  .popover-content {
    padding: 8px;
  }

  .arrow {
    display: none;
  }
}

.list-news {
  .rss-item {
    box-shadow: inset 0 -37px 32px -36px #000;

    .rss-image {
      height: 160px;
    }
    h4 {
      margin: 5px 0;
    }
    .rss-summary {
      margin: 0;
    }
    .rss-extras {
      margin: 0;
      background: none;
    }
  }

}
