$brand-primary: #d78f46;
$brand-highlight: #00C1FF;
$brand-success: #86B951;
$brand-info: #00C1FF;
$brand-warning: #FF7300;
$brand-danger: #FF1C38;
$brand-bg: #202020;
$brand-menu: #383838;
$brand-secondary: #D78F46;
$brand-clickable: #D78F46;
$text-color: #eeeeee;
$text-color-disabled: #bbbbbb;
$link-color: #D78F46;
$font-size-base: 12px;
$hidpi-scale-factor: 100%;
$font-family-base: "Roboto";
$font-family-headings: "Roboto";
$gutter-width: 16px;
$dark-theme: false;
